article {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    background: #222;
    padding: 1rem;
    border-radius: 18px;
}

article header {
    gap: 4px;
}

article header div {
    display: flex;
    flex-direction: column;
}

article header span {
    opacity: .6;
}

article header img {
    width: 48px;
    /* height: 48px; */
    border-radius: 1000px;
}

article button {
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
}

article button:hover {
    background: #09f;
}

